doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container-fluid
      div.navbar-header
        //button.navbar-toggle.collapsed.hidden(type="button" data-toggle="collapse" data-target="#modile-navbar" aira-expanded="false")
      block content